/* .mobile-menu {
  font-size: 2.3rem;
  cursor: pointer;
  display: none;

  &:hover {
    color: #147efb;
    transition: all 0.3s;
  }

  @media (max-width: 900px) {
    display: flex;
  }
}

.closed-menu {
  left: -100% !important;
}

.open-menu {
  left: 0 !important;
}

.mobile-nav {
  display: flex;
  width: 100%;
  height: 100vh;
  z-index: 300;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  text-align: center;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
}

.mobile-nav span {
  font-size: 3.3rem;
  position: absolute;
  top: 2rem;
  right: 4rem;
  cursor: pointer;

  &:hover {
    color: #147efb;
    transition: all 0.3s;
  }
}

.mobile-nav ul {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  font-size: 2.3rem;
  list-style: none;
}

.mobile-nav ul a {
  color: black;
  text-decoration: none;
  font-weight: 500;

  &:hover {
    color: #147efb;
    transition: all 0.3s;
  }
}

nav {
  font-size: 1.7rem;
  width: 100%;
  height: auto;
  padding: 25px 40px 25px 50px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  background-color: #fff;
  top: 0;
  left: 0;
  box-shadow: 0px 0px 10px rgb(0 0 0 / 9%);
  z-index: 200;
  align-items: center;

  @media (max-width: 400px) {
    padding: 25px 30px 25px 30px;
  }
}

.logo {
  color: #2d2e32;
  cursor: pointer;
}

nav ul {
  display: flex;
  gap: 2rem;
  list-style: none;
}

nav ul a {
  color: #2d2e32;
  font-weight: 600;
  text-decoration: none;
  transition: all .23s;

  @media (max-width: 900px) {
    display: none;
  }

  &:hover {
    color: #147efb;
  }
}

#home {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background-color: #f9f9f9;
  position: relative;

  @media (max-width: 900px) {
    height: auto;
    padding: 11rem 0;
  }
}

.container {
  margin: 0 auto;
  max-width: 107rem;
  padding: 0 4rem;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 65rem;
  gap: 10rem;
  position: relative;

  @media (max-width: 900px) {
    flex-direction: column;
    text-align: center;
    height: auto;
    gap: 3rem;
  }

  @media (min-width: 1600px) {
    margin-top: 6rem;
  }

  @media (min-width: 1900px) {
    margin-top: 10rem;
  }
}

.home-main {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10rem;
  position: relative;

  @media (max-width: 900px) {
    flex-direction: column-reverse;
    text-align: center;
    height: auto;
    gap: 3rem;
  }
}

.home-text {
  display: flex;
  flex-direction: column;
  max-width: 50rem;
  position: relative;
}

.home-text h1 {
  color: #2d2e32;
  font-size: 5.5rem;
  line-height: 1.2;
  margin-bottom: 2rem;
  margin-top: 2rem;

  @media (max-width: 500px) {
    font-size: 4rem;
  }
}

.home-text img {
  position: absolute;
  width: 6rem;
  height: 6rem;
  top: 8.7rem;
  right: 13rem;

  @media (max-width: 900px) {
    right: 3rem;
  }

  @media (max-width: 500px) {
    top: 6.4rem;
    right: 4rem;
    width: 4.5rem;
    height: 4.5rem;
  }

  @media (max-width: 400px) {
    right: 3rem;
  }

  @media (max-width: 380px) {
    right: 3rem;
  }

  @media (max-width: 375px) {
    right: 1.7rem;
  }
}

.home-text p {
  color: #555;
  font-family: Mulish, sans-serif;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.6;

  @media (max-width: 900px) {
    margin-bottom: 5rem;
  }
}

.home-text span {
  display: flex;
  gap: 1.3rem;
  margin: 2.5rem 0;
  cursor: pointer;

  @media (max-width: 900px) {
    justify-content: center;
    margin-top: -2rem;
    margin-bottom: 4rem;
    gap: 1.6rem;
  }
}

.home-text span a {
  color: #2d2e32;
  font-size: 3rem;
  transition: all 0.2s;

  &:hover {
    color: #147efb;
  }
}

.home-img {
  background-image: url(Photo.jpg);
  width: 35rem;
  height: 35rem;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  border: 3px solid #2d2e32;
  border-radius: 50% 30%/30% 50%;
  position: relative;

  @media (max-width: 500px) {
    width: 28rem;
    height: 28rem;
  }
}

.skills {
  display: flex;
  font-size: 1.7rem;
  color: #767676;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;

  @media (max-width: 900px) {
    position: initial;
    flex-direction: column;
  }
}

.skills p {
  margin-right: 7rem;
  padding-right: 2rem;
  border-right: 2px solid rgb(45, 46, 50, 0.5);
  font-family: Mulish, sans-serif;
  font-weight: 600;
  color: #2d2e32;

  @media (max-width: 900px) {
    margin-right: 0;
    margin-bottom: 3rem;
    border-bottom: 2px solid rgb(45, 46, 50, 0.5);
    border-right: none;
    padding-right: 0;
    padding-bottom: 1rem;
  }
}

.skills ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;

  @media (max-width: 900px) {
    justify-content: center;
  }
}

.skills ul li {
  cursor: pointer;
}

.skills ul li img {
  width: 5rem;
  height: 5rem;
  transition: all ease-in-out 0.3s;

  &:hover {
    transform: translateY(-1rem);
  }
} */